* {
  margin: 0;
  padding: 0;

  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.contaner {
  display: flex;
  justify-content: space-around;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  width: 100%;
  align-items: center;
  height: 100px;
 
}

.content {
  display: flex;
}
.menu li a {
  text-decoration: none;
}
.menu > li {
  list-style: none;
  padding-right: 50px;
}

span {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.g {
  color: #ff42a5;
}

.menu {
  display: flex;
  text-decoration: none;
}
.img {
  width: 50%;
  object-fit: cover;
  margin-left: 10px;
}
.icon {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 7px 20px;
  margin-top: -7px;
  list-style: none;
  display: flex;

  align-items: center;
}
.got {
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.main-con {
  display: flex;

  align-items: center;
  background-image: url(images/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: 620px 800px;
  justify-content: space-around;
}
.btn1 {
  padding: 15px 25px;
  border: none;
  background-color: #ff42a5;
  border-radius: 50px;
  cursor: pointer;
}
.btn2 {
  padding: 15px 25px;
  border: none;
  background-color: #4ec5f7;
  border-radius: 50px;
  cursor: pointer;
}
.h-title{
    
    color: #0B0223;
text-align: center;

font-size: 48px;

font-weight: 600;

text-transform: uppercase;
}




@media screen and (max-width: 768px) {

.menu{



}



}