* {
  margin: 0;
  padding: 0;

  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.contaner {
  display: flex;
  justify-content: space-around;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  width: 100%;
  align-items: center;
  padding: 20px;
}

.content {
  display: flex;
}
.menu li a {
  text-decoration: none;
}
.menu > li {
  list-style: none;
  padding-right: 50px;
}

span {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.g {
  color: #ff42a5;
}

.menu {
  display: flex;
  text-decoration: none;
}
.img {
  width: 50%;
  object-fit: cover;
  margin-left: 10px;
}
.icon {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 7px 20px;
  margin-top: -7px;
  list-style: none;
  display: flex;

  align-items: center;
}
